<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My app</title>

  <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body>
  <div class="container">
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class="delimiter"></li>

      {{#if currentUser}}
        <i>Hello, {{currentUser.username}}</i>
        <form action="/users/logout" action="post" id="logout-form">
          <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
        </form>
      {{else}}
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
      {{/if}}
    </ul>

    {{#if globalError}}
      <h3>{{globalError}}</h3>
    {{/if}}

    {{{body}}}
  </div>

</body>
</html>